body {
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Karla:wght@200&display=swap');
  }

/*
*{
    border: solid 1px red;
}*/ 

body {
    background-image: url("bakgrundsbildett.png");
    background-size: 100%; 
    background-repeat: no-repeat; 
    justify-content: center; /* Centrera flexboxarna horisontellt */
    align-items: center; /* Centrera flexboxarna vertikalt */
    height: 100vh;
    background-color: #ffffff;
   
}






/*JAVASCRIPT MENY*/
.container {
    display: flex;
    align-items: flex-start;

  }
  
  .logga {
    background-image: url('logga.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 140px;
    height: 100px;
    padding-top: 10px;
    margin-left: 20px;
    display: block;
  }

.meny {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: -70px;
}

#Meny {
    list-style: none; /* Ta bort punktmarkeringen från listan */
    display: flex;
    flex-direction: row;
}

/*MELLANRUM MELLAN MENYKNAPPAR*/
#Meny li {
    padding: 0 10px;
}

#Meny li a {
    text-decoration: none; /* Ta bort understreck */
    color: hsl(175, 66%, 19%);
    font-family: mohave;
    font-size: 20px;
}

/*ÄNDRA KNAPPAR I MENYN*/
#Meny li a[href="loggain.html"]{
    background-color: rgb(16, 80, 75);
    color: #ffffff;
    font-size: 20px;
    font-family: mohave;
    border-radius: 10px;
    padding: 2px 10px;
}

#Meny li a[href="blimedlem.html"] {
    background-color: rgb(16, 80, 75);
    color: #ffffff;
    font-size: 20px;
    font-family: mohave;
    border-radius: 10px;
    padding: 2px 10px; 
}



.sokruta{
    font-family: mohave;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    margin-left: 5px;
}

.sokrutaknapp {
    font-family: mohave;
    font-size: 14px;
    border: 1px;
    border-radius: 10px;
    margin-right: 20px;
}


li {
    list-style: none; /* Ta bort punktmarkeringen från listelementen */
  }


h4 {
    font-family: mohave;
    font-size: 30px;
    color: hsl(175, 66%, 19%);
    text-align: center;
}

.h1index{
    font-family: abril fatface;
    font-size: 85px;
    color:hsl(175, 66%, 19%);
    text-align: center;
    
}

/*Bli medlem-knapp*/
.blimedlem-container {
    display: flex;
    justify-content: center; /* Centrera horisontellt */
    align-items: center; /* Centrera vertikalt */
}


.blimedlem {
    flex-grow: 0;
    text-decoration: none;
    list-style: none;
    color: (175, 66%, 19%);
    font-family: mohave;
    font-style: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(247, 237, 40, 0.845);
    display: inline-block;
}

.resten{
    display: flex;
    flex-grow: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
}

.footer{
    background-color: rgb(17, 82, 77);
    flex-grow: 0;
    padding: 40px;
    margin: 0;
    width: 1000px;
    position: absolutes;
    bottom: 0;
    left: 0;
    right: 0;
}



.sidaett {
    font-family: mohave;
    font-size: 30px;
    color: hwb(60 78% 15%);
    text-align: center;
}


.gallery {
    display: flex;
    flex-wrap: wrap; /* Två rader bilder */
    gap: 10px; /* Avstånd mellan bilderna */
    flex-direction: row;
    justify-content: center; /* Centrera bilderna horisontellt */
    max-width: 700px;
    margin: 0 auto;
    
}

.gallery img {
    max-width: 60%; /* Anpassa bilderna till galleriets bredd */
    height: auto;
    max-height: 150px; /* Justera bildernas höjd efter dina behov */
}


/*Bli medlem undersida*/
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40vh;
}

.h1blimedlem {
    font-family: abril fatface;
    font-size: 50px;
    color: hsl(175, 66%, 19%);
}

.ptext {
    font-family: mohave;
    color: hsl(175, 66%, 19%);
    font-size: 20px;
    max-width: 800px;
    margin: 0;
   
}

/*Formulär bli medlem*/
.registrera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: mohave;
    margin-top: 50px;
}

.formular {
    background-color: white;
    font-family: mohave;
    font-size: 25px;
    border-radius: 20px;
    width: 450px; 
    height: 800px; 
    color: rgb(16, 80, 75);

}


.formular table {
    border-collapse: collapse;
    width: 100%;

}

/*padding mellanrum mellan raderna*/
.formular table, .formular td, .formular th {
    border: none;
    padding: 15px;
}

.formular th {
    text-align: left;
}

.knappblimedlem {
    background-color: rgb(16, 80, 75);
    color: #ffffff;
    padding: 15px 100px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    text-decoration: none;
}


.age {
    margin: 20px 0 15px 0; 
}


.gender {
    background-color: #ffffff;
    color: rgb(16, 80, 75);
    padding: 10px 40px;
    border-radius: 20px;
    font-family: mohave;
    font-size: 15px;
    margin: 5px;
    border: 1px solid rgb(16, 80, 75);
}

.gender:active {
    background-color: rgb(16, 80, 75);
    color: #ffffff;
}

/*Formulärruta*/
.formular input[type="text"] {
    font-size: 20px;
    font-family: mohave;
    padding: 7px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(16, 80, 75);
    color: rgb(16, 80, 75);
    display: block;
    outline: none; 
    align-items: center;
}



/*sökknapp 2*/
.search-list-item {
    cursor: pointer;
}

.search-container {
    display: inline-block;
}

.search-icon {
    border: none;
    background-color: transparent;
    font-size: 24px;
}
